$gray: #444;
$darkGray: #222;
$lightGray: #666;

$green: rgb(50, 250, 50);
$red: rgb(255, 50, 50);
$yellow: rgb(255, 255, 50);
$blue: rgb(50, 100, 255);

$dark: #0002;
$dark2: rgba(0, 0, 0, 0.5);
$light: #fff2;
$light2: rgba(255, 255, 255, 0.5);
